resource_group_name  = "rg-tfstate-dev-deu-001"
storage_account_name = "stexampletfstate0001"
container_name       = "tfstate"
key                  = "environments/dev.tfstate"
use_azuread_auth     = true
